<div class="page-footer">
    <div class="container">
        <div class="copyright">
            <strong>Criando com <i class="material-icons copyright-icon">favorite</i> no Bootcamp Onebitcode</strong>
        </div>
    </div>
</div>